{% extends 'base.html' %} {% block content %}

<div
  class="max-w-xl mx-auto my-10 bg-gray-200 py-4 px-8 font-sans rounded-lg shadow-xl"
>
  <div class=" items-center">
    <h2 class="text-4xl text-purple-600 font-bold  text-center mb-2">logIn</h2>
    <form class=" w-34 pt-6 px-16 text-gray-700" action="" method="POST">
      {% csrf_token %} {{ form.as_p }}
      <p>
        <input
          class=" 
        bg-purple-600 px-5 rounded-lg inline-block
        my-8 mr-4 py-2 px-2 text-white shadow-xl"
          type="submit"
          value="login"
        />
        <a
          href="../signup/"
          class=" 
        bg-gray-600 px-5 rounded-lg inline-block
        my-8 mx-4 py-2 px-2 text-white shadow-xl"
          >SignUp</a
        >
      </p>
    </form>
  </div>
</div>

{% endblock %}
