{% extends 'base.html' %} {% block content %}
<div class=" max-w-xl mx-auto my-10 bg-gray-200 py-4 px-8 font-sans rounded-lg shadow-xl">
  <div class=" ml-24" >
    <h1 class=" text-4xl text-purple-600 font-bold  mb-2">ToDo's</h1>
    <ul>
      {% for object in object_list %}
        <li class=" text-2xl text-gray-700">
          <p>
            {{ object.id }} -
            <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
          </p>
        </li>
      {% endfor %}
       <a href="{% url 'ToDo:create' %}" class=" 
       bg-purple-600 px-5 rounded-lg inline-block
       my-8 py-2 px-2 text-white shadow-xl">
       Create new Todo </a>
    </ul>
  </div>
</div>
  
</div>

{% endblock %}
